# code
.vscode

# python
*__pycache__*
*.pytest_cache*
*.pth

# label_dirs
train_preprocessed
valid_preprocessed
yolo_labeled
merged

# training
checkpoints
weights
*.weights

result.png
bad.list
log*
models
predictions*
train_yolo.txt
chart*
