# code
.vscode

# python
*__pycache__*
*.pytest_cache*
*.pth

# label_dirs
train_preprocessed
valid_preprocessed
train_out
valid_out
yolo_labeled
merged
tmp

# training
checkpoints
weights
*.weights

result.png
bad.list
log*
models
predictions*
train_yolo.txt
chart*
